
body{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 70vw;
}

.lugarClinica{
    margin-top: 30px;
    text-decoration-line: underline;
    text-decoration: none;
    text-decoration-style: none;
}



.button{
    background-color: honeydew;
    margin-top: 30px;
}






