
body{
    background-color: rgb(236, 255, 241);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 70vw;
}

h1{
    font-size: 50px;
}

p{
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
}

ul{
    list-style: none;
}

.datos{
    margin-top: 30px;
    text-align: center;
    font-size: larger;
    font-weight: 900;
    font-style: oblique;
}

.botonReservar{
    margin-top: 50px;
}

.lugarClinica{
    margin-top: 30px;
    font-style: oblique;
    font-size: 20px;
    text-decoration-line: underline;
    list-style: none;
}

.button{
    background-color: honeydew;
    margin-top: 50px;
}






